        #if(!$product.fields.empty)
        public ${product.typeName}() {
            #foreach($field in $product.fields)
            this.$field.name = $field.initializer;
            #end
        }

        public ${product.typeName}(#@delimit( $product.fields ", ")$item.type $item.name#end) {
            #foreach($field in $product.fields)
            this.$field.name = $field.name;
            #end
        }
        #end
