        #foreach( $field in $product.fields )
        public #typeInstance($product.typeName) #witherName($field)($field.type $field.name) {
            return #constructorCall($product.typeName)(#@delimit( $product.fields ", ")#if(!$item.equals($field))#getterName($item)()#else${item.name}#end#end);
        }

        #end
        @Override
        public #typeInstance($product.typeName) copy() {
            return #constructorCall($product.typeName)(#@delimit( $product.fields ", ")#getterName($item)()#end);
        }
