        #foreach( $field in $product.fields )
        public#if( $field.synchronized ) synchronized#end $field.type ${util.toGetterName($field)}() {
            return $field.name;
        }

        #end