    public final static class #typeDeclaration($product.typeName) extends #typeInstance($union.typeName) {
        #parse("ProductFields.vm")

        #parse("ProductConstructor.vm")

        #parse("ProductAccessors.vm")

        #parse("ProductMutators.vm")

        #parse("ProductCopiers.vm")

        #parse("ProductToString.vm")

        #parse("ProductEquals.vm")

        #parse("ProductHashCode.vm")

        public <$gt> $gt when(#genericTypeInstance("Switch" $gt) cases) {
            return cases.is(this);
        }

    }