        @Override
        public boolean equals(Object obj) {
            #if( $product.fields.empty )
            return obj != null && getClass() == obj.getClass();
            #else
            if (this == obj) return true;
            if (obj == null || getClass() != obj.getClass()) return false;
            $product.typeName that = ($product.typeName) obj;
            return #@delimit( $product.fields " && ")#if($item.type.kind.code == 0)#getterName($item)() == that.#getterName($item)()#elseif($item.type.kind.code == 1)Objects.equals(#getterName($item)(), that.#getterName($item)())#{else}Arrays.equals(#getterName($item)(), that.#getterName($item)())#end#end;
            #end
        }